body{
    font-family: 'Roboto', sans-serif ;
    background-color: #FFFFFF;
    color:#434455;
    font-size: 16px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}

img{
    display: block;
}

.container{
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.header{
    border-bottom: 1px solid #E7E9FC;
}

.header .container{
    display: flex;
}

.header  a{
    text-decoration: none;

}

.site-name{
    font-family: 'Raleway', sans-serif;
    color: #4D5AE5;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    padding: 24px 0;
    margin-right: 76px;
}

.nav{
    display: flex;
    align-items: center;
}

.menu{
    display: flex;
    align-items: center;
    gap: 40px;
}

.navigation{
    color: #2E2F42 ;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
}

.navigation:hover,
.navigation:focus{
    color: #404BBF;
}

.address{
    font-style: normal;
    display: flex;
    align-items: center;
    margin-left: auto;
}

.address ul{
    display: flex;
    gap: 40px
}

.contacts{
    font-weight: 400;
    line-height: 1.5;
    color: #434455;
    letter-spacing: 0.02em;
    padding: 24px 0;

}

.contacts:hover,
.contacts:focus{
    color: #404BBF;
}



.studio{
    color: #2e2f42;
}


.first-section{
    background-color: #2E2F42;
    color: #FFFFFF;
    font-weight: 700;
    padding: 188px 0;
}

.main-title{
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    margin: auto;
    margin-bottom: 48px;
    max-width: 496px;
}

.order-button{
    color: #FFFFFF;
    font-weight: 500;
    background-color: #4D5AE5;
    border: none;
    line-height: 1.5;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.04em;
    padding: 16px 32px;
    display: block;
    min-width: 169px;
    margin: auto;
    border-radius: 4px;
}

.order-button:hover,
.order-button:focus{
    background-color: #404BBF;
}

.second-section{
    padding: 120px 0;
}

.features{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px; 
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.second-section-list{
    display: flex;
    gap: 24px;
}

.second-section-list li{
    width: calc((100% - 72px) / 4);
}

.title{
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
    text-align: center;
}



.advantage-list{
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-size: 16px;
    color: #434455;
    text-align: center;
}


.third-section{
    background-color: #F4F4FD;
    padding: 120px 0;
}

.second-container ul{
    display: flex;
    gap: 24px;
}

.our-team-list{
    background-color: #FFFFFF;
    width: calc((100% - 72) / 4);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding-bottom: 32px;
    margin-bottom: 120px;
}

.team-div{
    padding: 32px;
}

.our-team{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;
    padding-top: 120px;
}

.fourth-section{
    padding: 120px 0;
}

.portfolio-main{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;
}

.fourth-section-ul{
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}

.fourth-section-ul div{
    padding-left: 16px;
    padding-top: 32px;
    border-left: 1px solid #E7E9FC;
    border-bottom: 1px solid #E7E9FC;
    border-right: 1px solid #E7E9FC;
}

.portfolio div{
    padding: 32px 16px;
}

.portfolio-title{
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.portfolio-list{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.footer{
    background-color: #2E2F42;
    color: #F4F4FD;
    padding-bottom: 100px;
    padding-top: 100px;
}

.studio-footer{
    color: #F4F4FD;

}

.footer-name{
    display: inline-block;
    margin-bottom: 16px;
}

.footer-art{
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 264px;
}